#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
a:active{
  color: rgb(31, 161, 212);
  transition: all 0.3s;
}